includes:
    - vendor/phpstan/extension-installer/loader.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    # Allow magic Facade calls (resolved via @method docblocks)
    checkMissingIterableValueType: false

    ignoreErrors:
        # Orchestra Testbench helpers are not typed at level 8
        - '#Call to an undefined method Orchestra\\Testbench\\TestCase::#'
        # Illuminate DB table() returns a fluent builder with dynamic methods
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::#'

    bootstrapFiles: []
